@font-face {
    font-family: Righteous;
    src: url(fonts/Righteous.ttf);
}


body{
	background-color:#f4f4f4;
	color:#555;
	font-family:arial,helvetica;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	color:#ffdd23;
	font-size:25px;
	font-family:Righteous;

}

span{
	color:#000;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:25px;
}

#navbar a:hover{
	color:#ffdd23;
}

#showcase{
	
	/*background-color:red;*/
	background-image:url('images/SiteBanner01.jpg');
	/*background-image:url('images/abstract-red-background.jpg');*/
	
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
	margin-top:15px;
}


#control_panel{
	padding:0px;
	list-style:none;
}

#control_panel li{

	background-color:#66ccff;
	width:75%;
	padding:10px;
	margin:15px;

}

